<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Create an hash from a text</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                               
                                  
                                     <div class="form-group">
                                        <label for="privKey" class="col-sm-2 control-label">Text:</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" cols="50" class="form-control" id="hashText" placeholder="Some text..."></textarea>
                                        </div>

                                    </div>

                                       <div class="form-group">
                                        <label for="privKey" class="col-sm-2 control-label">Hashing function:</label>
                                        <div class="col-sm-10">
                                           <select name="select" id="selectHashFunction">
                                               <option value="0">SHA256</option>
                                               <option value="1">SHA512</option>
                                           </select> 

                                        </div>

                                    </div>

                                      <div class="form-group">
                                        <label for="hashDOM" class="col-sm-2 control-label">Hashed text:</label>
                                        <div class="col-sm-10">
                                            <div id="hashDom" style="    background-color: #dddddd;padding: 20px;overflow-wrap: break-word;"></div>
                                        </div>
                                    </div>


                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <button type="button" id="hashButton" class="btn btn-primary" onclick="app.hash()"><i class="fa fa-search"></i>Hash</button>
                                        </div>
                                    </div>
                                  
                                </form>

                            </div>
                        </div>
                    </div>
                   
                </div>
               