<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basic settings</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                       <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>WARING!</strong> <strong>Don't use this software on the LIVE NETWORK!</strong> Always use the test network!
                                </div>
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <a href="https://developers.ripple.com/xrp-test-net-faucet.html" target="_new">Click here to generate a private key and address</a> on the test network.</div>
                                    <div class="form-group">
                                        <label for="serverAddress" class="col-sm-2 control-label">Server address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="serverAddress" placeholder="URI">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="privKey" class="col-sm-2 control-label">Private key</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="privKey" placeholder="Secret">
                                        </div>

                                    </div>
                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-info" id="testSettingsButton"><i class="fa fa-info-circle"></i> Use test settings</button>  &nbsp; <button type="button" id="checkAndConnectButton" class="btn btn-primary"><i class="fa fa-check"></i>Check and connect</button>
                                        </div>
                                    </div>
                                  
                                </form>

                            </div>
                        </div>
                    </div>
                   
                </div>
               