<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add an optional short message</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                       <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    You can add an <strong>optional</strong> short text to the transaction, it will be encrypted with AES-CTR-256 - Counter 6.
                                </div>
                                  <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Remeber, this message will be published indefinitely on a public blockchain. If you want to add the message, you must use a strong password, a weak password is not allowed. <strong>If you loose the password, no one will be able to recover the message!</strong>
                                </div>
                               
                                
                                    <div class="form-group">
                                        <label for="messageDOM" class="col-sm-2 control-label">Message</label>
                                        <div class="row">
                                        <div class="col-sm-10 col-md-5">
                                            <input type="text" class="form-control" id="messageDOM" placeholder="..." maxlength="70" oninput="app.checkMessageAndPass();">
                                        </div>
                                         <div class="col-sm-10 col-md-3">
                                            <span id="messageCharactersCounterDOM">0</span>/70 characters
                                        </div>
                                    </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="passwordDOM" class="col-sm-2 control-label">Password</label>
                                        <div class="row">
                                        <div class="col-sm-10 col-md-5">
                                            <input type="text" class="form-control" id="passwordDOM" placeholder="..." oninput="app.checkMessageAndPass();"> 
                                        </div>
                                        <div class="col-sm-10 col-md-2">
                                           <div class="progress" style="height: 37px;">
                                            <div class="progress-bar progress-bar-default" id="scorePasswordDOM" style="width: 0%;  line-height: 37px; color:#000000; text-align: center;"> &nbsp; &nbsp; SCORE </div>
                                        </div>
                                        </div>
                                        <div class="col-sm-10 col-md-2">
                                           <button type="button" class="btn btn-primary" onclick="app.generateRandomPassword();">Random pass</button>
                                        </div>
                                    </div>

                                    </div>
                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                           <button type="button" id="addMessageButtonDOM"  disabled="" class="btn btn-primary" onclick="app.addMessage()"><i class="fa fa-check"></i>Add the message</button>  &nbsp;  <button type="button" class="btn btn-info" onclick="app.skipMessage()"><i class="fa fa-sign-out"></i> Skip</button>  
                                        </div>
                                    </div>
                                  
                                </form>

                            </div>
                        </div>
                    </div>
                   
                </div>
               