<div class="row">
                    <div class="col-md-12 col-lg-12">
                          <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <span id="transactionResultDOM">Waiting for confirmation from server...</span>
                                </div>
                        <div class="panel panel-primary" id="transactionResultTableDOM" style="display: none;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Transaction result</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table" style="table-layout: fixed; width: 100%">  
                                    <tbody>
                                        <tr>
                                            <td width="30%"><strong>Source address</strong></td>
                                            <td  width="70%" id="accountAddressDOM"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Destination address</strong></td>
                                            <td id="destintionAddressDOM"></td>
                                        </tr>
                                        <tr style="background-color: #eeeeee;">
                                            <td><strong>Transaction ID<sup style="color:red;">*</sup>:</strong></td>
                                            <td style="word-wrap: break-word;" id="transactionIDDOM"></td>
                                        </tr>
                                          <tr>
                                            <td><strong>Ledger version:</strong></td>
                                            <td id="ledgerVersionDOM"></td>
                                        </tr>
                                          <tr>
                                            <td><strong>Timestamp:</strong></td>
                                            <td id="timestampDOM"></td>
                                        </tr>
                                      
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                     <div class="col-md-12 col-lg-12">
                     <div class="alert alert-danger alert-dismissable" id="alertTransactionIDDOM" style="display: none;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <span id="transactionResultDOM">* Don't loose the transaction ID! Without it you will not be able to find the transaction! Download and archive the info file with all the relevant info!</span>
                                </div>
                                 <div class="alert alert-info alert-dismissable" id="alertTransactionIDDOM" style="display: none;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <span id="transactionResultDOM">You can use the "Search" menù item to find the transactions on the ledger.</span>
                                </div>
                    <div class="col-md-12 col-lg-12" id="buttonDownloadTransactionDOM" style="text-align: center; display: none;"><a href="" target="_new" type="button" class="btn btn-success" id="linkDownloadTransactionDOM" download="transaction.txt"><i class="fa fa-download"></i> Download the info file</a><br><br></div>
                </div>
                </div>
               