<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search for a transaction</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Search for a transaction on the public ledger. The ID is a 64 character hex string.</div>
                                    <div class="form-group" style="display: none;" id="serverAddressDOM">
                                        <label for="serverAddress" class="col-sm-2 control-label">Server address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="serverAddress" placeholder="URI">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="privKey" class="col-sm-2 control-label">Transaction ID:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="transactionID" placeholder="ID">
                                        </div>

                                    </div>
                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-info" id="testSettingsButton"  onclick="app.searchTestSettings()"><i class="fa fa-info-circle"></i> Use test settings</button>  &nbsp; <button type="button" id="searchButton" class="btn btn-primary" onclick="app.searchTransaction()"><i class="fa fa-search"></i>Search</button>
                                        </div>
                                    </div>
                                  
                                </form>

                            </div>
                        </div>
                    </div>
                   
                </div>
               